.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  height: 34px;
  width: 42px;
  background: transparent;
  border: 1px;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 0.5rem 0 11rem;
}

.toggle-buton:focus {
  outline: none;
}

.toggle-button__line {
  width: 42px;
  height: 3px;
  background: #ffffff;
}
