.menu-drawer {
  height: 100%;
  background: #001022;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  z-index: 200;
  font-size: 2rem;
  line-height: 3.5rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.menu-drawer.open {
  transform: translateX(0);
}

.menu-drawer ul {
  list-style: none;
}

.menu-drawer a {
  color: white;
  outline: none;
}

.menu-drawer a:hover {
  color: #8d744a;
}

a:visited,
a:link {
  text-decoration: none;
}
