.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #001022;
  height: 100px;
}

.toolbar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 1rem;
}
.toolbar__logo {
  display: flex;
}
