.layer-3 {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}

.layer3-text {
  width: 400px;
  background: white;
}
.layer-3 h1 {
  color: rgb(145, 123, 76);
  font-size: 1.5em;
  padding: 3rem 0 0 5rem;
}

.layer-3 p {
  text-align: justify;
  padding: 1rem 5rem 3rem 5rem;
  line-height: 2;
}
