.layer-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(layer_1.png) no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

.layer-1 h1 {
  font-size: 4rem;
  text-align: center;
}

.layer-1 h3 {
  font-size: 2rem;
  font-weight: lighter;
}
