body {
  margin: 0;
  font-family: "Neutraface 2 Text Demi";
  color: white;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}
