* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.menubar {
  background-color: #001022;
  height: 101px;
  width: 1600px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for "Logo" */
.header-logo {
  width: 263px;
  height: 52px;
}
