* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Neutraface 2 Text Demi";
}

img {
  height: auto;
  width: 100%;
}
